@import "bourbon";
@import "vars";

/*==========  Desktop First  ==========*/

@media only screen and (max-width: 1679px) {
  
}

@media only screen and (max-width: 1279px) {

}

/* Desktops */
@media only screen and (max-width : 1139px) {

}

/* Laptops, big tablet screens */
@media only screen and (max-width : 991px) {

}

/* Tablet screens */
@media only screen and (max-width : 767px) {
    body {
        font-size: 14px;
    }
    .tile--form-login {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form--login {
        padding: 18px 33px;
        padding-bottom: 0;
    }

    .form--restore {
        padding-bottom: 18px;
    }

    .back-to-experts {
        padding: 11px 33px 30px;

        h3 {
            margin: 0;
            margin-bottom: 11px;
        }
    }

    .login__links {
        display: flex;
        justify-content:space-between;
    }

    .link--login {
        margin: 0;
        font-size: 14px;
    }

    .link--login:first-of-type {
        margin-top: 0;
        margin-bottom: 0;
    }

    .link--login:last-of-type {
        text-align: right;
    }

    .form__title {
        margin-bottom: 23px;
    }

    .input,
    select {
        &__title {
            margin-top: 6px;
        }
        &__wrapper {
            margin-bottom: 12px;
        }
    }

    .checkbox {
        &__label {
            font-size: 12px;
        }
    }

    .footer {
        .col-lg-4 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .terms-conditions {
            text-align: right;

            a {
                margin-left: auto;
            }
        }
    }

    .tile--alert {
        padding: 30px 20px;
    }

    .alert__title {
        margin-bottom: 20px;
    }

    .flex-dir-column-small {
        flex-direction: column;
        align-items: flex-end;

        .terms-conditions {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .legal-notes,
    .terms-conditions {
        font-size: 12px;
    }

    h1,
    .similar-to-h1 {
        font-size: 20px;
    }

    .input,
    select {
        &__title {
            font-size: 14px;
        }
    }

    button, 
    .button {
        max-width: 100%;
    }


.row {
    &--select-type {
        margin-bottom: 30px;
    }
} 
}

/* Small Devices */
@media only screen and (max-width : 539px) {
    .tile--form-login {
        padding: 32px 40px 20px;
        background-image: none;
    }

    .complete__text {
        font-size: 14px;
    }

}

/* Extra Small Devices */
@media only screen and (max-width : 369px) {
    .footer .terms-conditions a,
    .legal-notes {
        font-size: 10px;
    }

    .tile--form-login {
        padding: 32px 30px 20px;
        background-image: none;
    }

    .complete__title {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        &:after {
            display: block;
            margin-bottom: 10px;
            order: 1;
        }
    }
}

//custom media querry for the small desktops
@media only screen and (min-width: 1024px) and (max-height: 920px) {
    .main-content {
        &--full-height {
            height: calc(100vh - 67px * 2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .tile--form-login {
                max-width: 472px;
            }

            .input__title {
                margin-bottom: 5px;
                margin-top: 10px;
            }

            .checkbox__label {
                font-size: 14px;
            }

            .form--login {
                padding: 28px 60px 20px;
            }
        
            .back-to-experts {
                padding: 18px 60px 30px;
        
                .form__title {
                    margin-bottom: 19px;
                }
            }
        
            .link--login {
                margin-bottom: 8px;
                font-size: 14px;
            }
        
            .form__title {
                margin-bottom: 20px;
            }
        }
    }
}

//custom media querry for the small desktops
@media only screen and (min-width: 1024px) and (max-height: 720px) {

    .main-content {
        &--full-height {

            .tile--form-login {
                max-width: 472px;
                margin-top: 22px;
                margin-bottom: 35px;
            }

            > .container {
                max-height: 100%;
            }

            .input__wrapper {
                margin-bottom: 33px;

                &:last-of-type {
                    margin-bottom: 10px;
                }
            }

            .checkbox__label {
                font-size: 14px;

                &:before {
                    width: 22px;
                    height: 22px;
                }
            }

            button, .button {
                height: 40px;
            }

            .input, select {
                height: 39px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 1.31;
                text-align: left;
                color: #6c757d;
                padding: 9px 16px;

                &__icon {
                    top: 13px;
                }

                &__title {
                    margin-top: 19px;
                    margin-bottom: 11px;
                }
            }

            .form--login {
                padding: 22px 60px 10px;
            }

            .button-row-small {
                margin-top: 1.0rem!important;
            }

            .back-to-experts {
                padding: 0px 60px 50px;

                .form__title {
                    margin-bottom: 12px;
                }
            }

            .link--login {
                margin-bottom: 10px;
                font-size: 14px;
            }

            .row--custon-height {
                margin-top: 10px !important;
            }

            hr.d-md-block {
                display: none !important;
            } 

            .form__title {
                margin-bottom: 10px;
            }
        }
    }
}

//custom media querry for the small desktops
@media only screen and (min-width: 1024px) and (max-height: 675px) {
    .main-content {
        &--full-height {
            .back-to-experts {
                padding-bottom: 20px;
            }
        }
    }
}

//custom media querry for the small desktops
@media only screen and (min-width: 1024px) and (max-height: 640px) {
    .main-content {
        &--full-height {
            height: auto;
        }
    }
}