.resolutions {
    &__title {
        font-size: 22px;
        padding-top: 22px;
        padding-left: 27px;
    }

    &__cta {
        width: 130px;
        margin-left: 0;
    }
}

.how-add-resolutions {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 56px;

    &__title {
        color: $dark-grey;
        margin-bottom: 20px;

        @media screen and (max-width: 992px) {
            font-size: 18px;
        }
    }

    &__link {
        text-decoration: underline;
        color: $blue;

        &:hover,
        &:active,
        &:visited {
            color: $blue;
        }
    }

    &__subtitle {
        color: $dark-grey;
        font-size: 14px;
        margin-bottom: 80px;

        @media screen and (max-width: 767px) {
            margin-bottom: 60px;
        }
    }

    &__right-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.progres-steps {
    width: 100%;
    display: flex;
    position: relative;
}

.progres-step {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey2;
    border-radius: 50%;
    color: $light-grey2;

    &:last-child {
        margin-left: 200px;
        position: relative;

        @media screen and (max-width: 767px) {
            margin-left: 150px;
        }

        &:before {
            content: '';
            position: absolute;
            right: 32px;
            display: block;
            width: 200px;
            height: 1px;
            background-color: $light-grey2;

            @media screen and (max-width: 767px) {
                width: 150px;
            }
        }

        a {
            color: $dark-grey;
        }
    }

    &--active {
        color: white;
        background-color: $blue;
        border-color: $blue;

        &:last-child {
            &:before {
                background-color: $blue;
            }

            a {
                color: $white;
            }
        }

        a {
            color: $white;
        }
    }
}

.my-resolutions {
    &__img-wrapper {
        width: 40%;

        @media screen and (max-width: 767px) {
            width: 100%;
            border-bottom: 1px solid $border-color;
            padding: 18px;
        }
    }

    &__info {
        display: flex;
        width: 60%;
        position: relative;

        @media screen and (max-width: 767px) {
            width: 100%;
            flex-direction: column;
            padding: 18px;
        }
    }

    &__info-left {
        width: 50%;
    }

    &__info-right {
        width: 50%;
        border-left: 1px solid $border-color;
        padding-left: 10%;

        @media screen and (max-width: 992px) {
            padding-left: 30px;
        }

        @media screen and (max-width: 767px) {
            border: none;
            padding-left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 10px;

        @media screen and (max-width: 992px) {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 20px;

        @media screen and (max-width: 992px) {
            font-size: 12px;
            margin-bottom: 15px;
        }

        &.my-resolutions__subtitle--rating {
            @media screen and (max-width: 992px) {
                font-size: 10px;
                margin-bottom: 15px;
            }
        }
    }

    &__category {
        font-size: 14px;
        color: $dark-grey;
        margin-top: 5px;

        @media screen and (max-width: 992px) {
            font-size: 10px;
        }

        span {
            font-size: 16px;
            font-weight: bold;


            @media screen and (max-width: 992px) {
                font-size: 12px;
            }
        }
    }

    &__attachments {
        color: $grey2;
        margin-top: 20px;

        @media screen and (max-width: 992px) {
            font-size: 12px;
        }
    }

    &__attachment {
        margin-bottom: 8px;

        &:before {
            content: '';
            display: inline-block;
            margin-right: 5px;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            background-color: $blue;
        }
    }

    &__rating {
        display: flex;
    }

    &__price {
        font-size: 34px;
        color: $dark-grey;
        font-weight: bold;
        margin-left: auto;
        margin-right: 20px;

        @media screen and (max-width: 992px) {
            font-size: 22px;
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            top: 20px;
            right: 0;
        }
    }

    &__stats {
        margin-top: 27px;
        margin-bottom: 30px;

        @media screen and (max-width: 992px) {
            margin-top: 16px;
            margin-bottom: 24px;
            display: flex;
        }
    }

    &__stats-item {
        margin-bottom: 12px;
        color: $light-grey3;
        display: flex;
        align-items: center;

        @media screen and (max-width: 992px) {
            font-size: 12px;
        }

        &:first-child {
            margin-right: 24px;
        }

        b {
            font-size: 22px;
            margin-right: 10px;
            color: $light-grey3;

            @media screen and (max-width: 992px) {
                font-size: 16px;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        .button {
            &.resolution-share {
                margin-left: 30px;
                min-width: 45px;
                margin-right: 0;

                @media screen and (max-width: 1199px) {
                    min-width: 35px;
                    width: 35px;
                    height: 35px;
                }

                @media screen and (max-width: 992px) {
                    margin-left: 20px;
                }
            }
        }

        > .button {
            @media screen and (max-width: 1199px) {
                height: 35px;
            }

            @media screen and (max-width: 767px) {
                min-width: 110px;
            }
        }
    }
}


.cover-image {
    width: 100%;
    height: 230px;
    border: 1px solid $border-color;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &--md-6 {
        max-width: calc(100% / 7 * 6);

        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }

    &--primary {
        @media screen and (max-width: 991px) {
            max-width: 100%;
        }
    }
}

.social-share  {
    display: flex;
    align-items: flex-end;

    .button {
        @media screen and (max-width: 767px) {
            padding-left: 4px;
            padding-right: 4px;
        }

        img {
            width: 12px;
            height: 12px;
        }
    }

    .button:last-child {
        margin-left: 0;
        margin-right: 0;
        min-width: 30px;

        @media screen and (max-width: 767px) {
            min-width: 24px;
        }
    }
}

.resolution-share {
    &.active {
        background-color: $blue;

        .hover {
            display: block;
        }

        .hide-hover {
            display: none;
        }
    }
}

.feed__wrapper--resolutions {
    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }
}

.add-resolutions {
    padding: 0;

    &__section {
        padding: 38px 29px 56px;
        border-bottom: 1px solid $border-color;

        &--custom {
            border-bottom: 0;
            padding-bottom: 0;

        }

        .col-12 {
            @media screen and (max-width: 767px) {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .post-ticket__input-title {
            &--withlink {
                display: flex;

                a {
                    margin-left: auto;
                    color: $blue;
                    text-decoration: underline;
                    font-weight: normal;
                }
            }
        }

        .contract-info-block {
            .post-ticket__input-title {
                width: 100%;

                @media screen and (max-width: 991px) {
                    text-align: right;
                }

                @media screen and (max-width: 767px) {
                    text-align: left;
                }
            }

            @media screen and (max-width: 991px) {
                display: flex;
                width: auto;
                max-width: 45%;
                margin-left: auto;
                margin-top: 24px !important;
                justify-content: flex-end;
                align-items: end;
            }

            @media screen and (max-width: 767px) {
                max-width: 100%;
                margin-left: 0;
                justify-content: flex-start;
                margin-bottom: 32px;
            }
        }

        .contract-info-block__value {
            display: inline-block;
        }

        .button--edit {
            margin-left: 45px;
            margin-right: 0;
        }
    }
}


.resolution {
    &__sidebar {
        display: block;

        @media screen and (max-width: 991px) {
            display: flex;
            width: 100%;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        > div {
            @media screen and (max-width: 991px) {
                width: 50%;
            }

            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }

        &--bordered {
            border-left: 1px solid $border-color;
        }

        &-hr {
            background-color: $border-color;
            width: calc(100% + 15px + 15px + 29px);
            position: relative;
            left: -15px;
        }
    }

    &__sidebar-buttons {
        display: flex;
        justify-content: space-between;

        .button {
            width: calc(100% / 2 - 10px);

            img {
                margin-left: 10px;
            }
        }
    }

    &__primary-description {
        @media screen and (max-width: 991px) and (min-width: 768px){
            width: 200%;
            margin-top: 40px;
        }
    }
}

.add-resolution {
    .resolutions__title {
        @media screen and (max-width: 991px) {
            margin-top: 0;
        }
    }

    .ticket-header {
        border-bottom: 1px solid $border-color;
    }

    .my-resolutions__category {
        @media screen and (max-width: 991px) {
            font-size: 14px;

            span {
                font-size: 16px;
            }
        }
    }
}

.comments {
    @media screen and (max-width: 767px) {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    .col-12 {
        @media screen and (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__link {
        color: $blue;
        text-decoration: underline;
        font-weight: normal;
    }
}

.my-resolution-open {
    .resolution__sidebar--bordered {
        @media screen and (max-width: 991px) {
            border-left: none;
        }
    }

    .new-message-container form {
        padding-left: 0;
        padding-right: 0;
    }

    .my-resolutions__rating {
        @media screen and (max-width: 767px) {
            position: relative;
        }
    }

    .link {
        color: $blue;
        text-decoration: underline;
    }
}

.label {
    &--unlocked {
        margin-left: 20px;
        line-height: 18px;
        display: inline-flex;
        align-items: flex-end;
        font-size: 14px;
        color: $light-grey3;

        img {
            margin-right: 10px;
        }
    }
}

.screenshot-block {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    &__item {
        width: 125px;
        height: 125px;
        border-radius: 4px;
        border: 1px solid $border-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;

        @media screen and (max-width: 767px) {
            width: 90px;
            height: 90px;
        }
    }
}
