@import "bourbon";

@mixin font($font, $weight, $style) {
    font-family: $font;
    font-weight: $weight;
    font-style: $style;
}

$default-font: "Roboto", sans-serif;
$default-font-weight: normal;
$default-font-style: normal;
$default_font_color: #000;

$white: #fff;
$red: #b92323;
$blue: #4492da;
$blue2:  #388ccb;
$blue3: #297FCF;
$blue4: #c7e2f6;
$blue5: #f2f7fc;
$grey: #2d2d2d;
$grey2: #4b4b4b;
$grey3: rgba(112, 112, 112, 0.18);
$dark-grey: #212529;
$light-grey: #808181;
$light-grey2: #ced4da;
$light-grey3: #6c757d;
$light-grey4: #c8cacc;
$light-grey5: #f7fafd;
$dark-yellow: #c7a109;
$dark-yellow2: #d8d7d2;


$footer-bg-color: $grey;
$border-color: $light-grey2;
$error-color: $red;